@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Best bans</title>
    <style>
    <style>
    </style>
</head>

<body>
    <div class="container-flex">
        <div class="lane-selection-container">
            <form asp-action="SearchJungleOnly" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-form-label">
                    <label for="AccountDetails">Account: </label>
                    <span id="Name">@ViewBag.Name</span>
                    <span id="Tagline">@ViewBag.Tagline</span>
                </div>

                <!-- Hidden input fields to pass values to the controller -->
                <input type="hidden" name="Name" value="@ViewBag.Name" />
                <input type="hidden" name="Tagline" value="@ViewBag.Tagline" />

                <div class="button">
                    <button type="submit" class="btn btn-primary">Jungle</button>
                </div>
            </form>

            <form asp-action="Midlane" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Hidden input fields to pass values to the controller -->
                <input type="hidden" name="Name" value="@ViewBag.Name" />
                <input type="hidden" name="Tagline" value="@ViewBag.Tagline" />

                <div class="button">
                    <button type="submit" class="btn btn-primary">Midlane</button>
                </div>
            </form>
        </div>
    </div >

    <div class="container-flex">
        <div class="wins-by-teammates-container">
            <table>
                <caption>Teammates you win a lot with</caption>
                <thead>
                    <tr>
                        <th>With</th>
                        <th>Champion Name</th>
                        <th>Played</th>
                        <th>Winrate</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var teammate in ViewBag.winsByTeammates)
                    {           
                        <tr>
                            <td>
                                <img src="@($"/championPictures/{teammate.ChampionName}.png")"
                                     onerror="this.onerror=null; this.src='@($"/championPictures/{teammate.ChampionName}.jpg")';"
                                     width="50"
                                     height="50"
                                     alt="@teammate.ChampionName">
                            </td>

                            <td>@teammate.ChampionName</td>
                            <td>@teammate.Played</td>
                            <td>
                                <div class="progress position-relative">
                                    <div class="progress-bar"
                                         role="progressbar"
                                         style="@($"width: {(teammate.Wins * 100.0) / teammate.Played:0}%;")"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                    </div>

                                    <span class="progress-label">
                                            @($"{(teammate.Wins * 100.0) / teammate.Played:0}%")
                                    </span>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="losses-by-teammates-container">
            <table>
                <caption>Teammates you lose a lot with</caption>
                <thead>
                    <tr>
                        <th>With</th>
                        <th>Champion Name</th>
                        <th>Played</th>
                        <th>Winrate</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var teammate in ViewBag.lossesByTeammates)
                    {
                        <tr>
                            <td>
                                <img src="@($"/championPictures/{teammate.ChampionName}.png")"
                                     onerror="this.onerror=null; this.src='@($"/championPictures/{teammate.ChampionName}.jpg")';"
                                     width="50"
                                     height="50"
                                     alt="@teammate.ChampionName">
                            </td>

                            <td>@teammate.ChampionName</td>
                            <td>@teammate.Played</td>
                            <td>
                                <div class="progress position-relative">
                                    <div class="progress-bar"
                                         role="progressbar"
                                         style="@($"width: {(teammate.Wins * 100.0) / teammate.Played:0}%;")"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                    </div>

                                    <span class="progress-label">
                                        @($"{(teammate.Wins * 100.0) / teammate.Played:0}%")
                                    </span>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        

        <div class="losses-by-enemies-container">
            <table>
                <caption>Enemies you win a lot against</caption>
                <thead>
                    <tr>
                        <th>Vs.</th>
                        <th>Champion Name</th>
                        <th>Played</th>
                        <th>Winrate</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var enemy in ViewBag.lossesByEnemies)
                    {
                        <tr>
                            <td>
                                <img src="@($"/championPictures/{enemy.ChampionName}.png")"
                                     onerror="this.onerror=null; this.src='@($"/championPictures/{enemy.ChampionName}.jpg")';"
                                     width="50"
                                     height="50"
                                     alt="@enemy.ChampionName">
                            </td>

                            <td>@enemy.ChampionName</td>
                            <td>@enemy.Played</td>
                            <td>
                                <div class="progress position-relative">
                                    <div class="progress-bar"
                                         role="progressbar"
                                         style="@($"width: {(enemy.Losses * 100.0) / enemy.Played:0}%;")"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                    </div>

                                    <span class="progress-label">
                                        @($"{(enemy.Losses * 100.0) / enemy.Played:0}%")
                                    </span>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        

        <div class="wins-by-enemies-container">
            <table>
                <caption>Enemies you lose a lot against</caption>
                <thead>
                    <tr>
                        <th>Vs.</th>
                        <th>Champion Name</th>
                        <th>Played</th>
                        <th>Winrate</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var enemy in ViewBag.winsByEnemies)
                    {
                        <tr>
                            <td>
                                <img src="@($"/championPictures/{enemy.ChampionName}.png")"
                                     onerror="this.onerror=null; this.src='@($"/championPictures/{enemy.ChampionName}.jpg")';"
                                     width="50"
                                     height="50"
                                     alt="@enemy.ChampionName">
                            </td>

                            <td>@enemy.ChampionName</td>
                            <td>@enemy.Played</td>
                            <td>
                                <div class="progress position-relative">
                                    <div class="progress-bar"
                                         role="progressbar"
                                         style="@($"width: {(enemy.Losses * 100.0) / enemy.Played:0}%;")"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                    </div>

                                    <span class="progress-label">
                                        @($"{(enemy.Losses * 100.0) / enemy.Played:F0}%")
                                    </span>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" async></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" async></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" async></script>
</body>
<footer class="border-top footer text-muted">
    <div class="footer-container">
        &copy; 2022 - Best bans -
        Best bans isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing Riot Games properties.
        Riot Games, and all associated properties are trademarks or registered trademarks of Riot Games, Inc.
    </div>
</footer>
</html> 




